<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shortened Url</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/url.css">
    </head>
    <body>
        <body>
                <h1>here’s your freshly cooked url</h1>
            <a href="/<%= shortUrl.short %>">localhost:5000/<%= shortUrl.short %></a>
        </body>
    </body>
</html>