@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&family=Ubuntu:wght@700&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
h1{  
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 144px;
margin-bottom:0px;
}
h2{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-top:0px;
    padding-left:20vh;
}
