@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90vh;
}
h1{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
}
a{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #5551FF;
    text-decoration: none;
}
